/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background-color: #ffffff;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 200px; 
    margin-left: 70px;
    margin-top: 15px;
}

.font-size-controls {
    margin-right: 20px;
}

.font-size-controls button {
    font-family: 'Poppins', sans-serif;
    font-size: 22px; /* Increased font size */
    padding: 8px 15px; /* Adjusted padding */
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 6px; /* Slightly larger border radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.font-size-controls button:hover {
    background-color: #d3d3d3;
}

header .logout button {
    display: flex;
    align-items: center; /* Aligns text and icon vertically */
    background-color: #ff0000; /* Logout button color */
    color: white;
    border: none;
    padding: 10px 15px; /* Adjusted padding for better size */
    cursor: pointer;
    font-size: 22px; /* Adjusted font size */
    border-radius: 10px;
    transition: background-color 0.3s; /* Added transition */
}

header .logout button:hover {
    background-color: #cc0000; /* Darker shade on hover */
}

header .logout button .login-icon {
    margin-left: 12px; 
    width: 30px; 
    height: 30px;
}

/* Styling for the keyboard shortcut note */
.keyboard-note {
    position: absolute;
    top: 20%;
    right: 20px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 240px;
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

/* Heading styling */
.keyboard-note p {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer; /* Indicating it's clickable */
}

/* List styling */
.keyboard-note ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: block; /* Initially visible */
}

/* Item styling */
.keyboard-note li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    padding: 4px 0;
}

/* Styling for the shortcut keys */
.shortcut-key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #4F4F4F;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* Style for the dropdown icon */
#dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* Wider left side for bigger arrow */
    border-right: 8px solid transparent; /* Wider right side for bigger arrow */
    border-top: 16px solid black;  /* Larger top border for bigger arrow */
    cursor: pointer;
    transition: transform 0.3s ease, border-top 0.3s ease;
    margin-left: 8px; /* Space between the label and the arrow */
}

/* Rotate the arrow to point up when clicked */
#dropdown-icon.up {
    transform: rotate(180deg); /* Rotate the arrow to point up */
}

/* Initial state for the shortcut list */
#shortcut-list {
    display: block;
    opacity: 1;
    max-height: 500px; /* Adjust to accommodate the expanded list */
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Smooth transition */
}

/* Initially hide the shortcut list */
#shortcut-list.collapsed {
    opacity: 0;
    max-height: 0;
}

/* Centering container */
.container {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Welcome message styling */
.welcome {
    font-size: 27px;
    margin-bottom: 50px;
    margin-top: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 90px;
}


.welcome-message {
    text-align: center; 
    font-size: 30px; 
    margin-bottom: 20px; 
    font-weight: bold; 
}

/* Navigation bar styling */
.navbar {
    display: inline-flex;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin-top:30px;
}

/* Navigation links styling */
.navbar a {
    color: black;
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column; /* Stack icon above text */
    align-items: center;
}

/* Icon image styling */
.navbar a img {
    width: 70px; 
    height: 60px; 
    margin-bottom: 15px; 
}

/* Highlighted button styling */
.navbar a.active {
    background-color: #ddd;
    border-color: black;
    border-style: solid; /* Specify the border style */
    border-width: 2px; /* Specify the border width */
}

/* Hover effect */
.navbar a:hover {
    background-color: #ccc;
}

section {
    padding: 20px;
}

/* Account Details Styling */
.account-details {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    margin: 20px auto;
    width: 100%; 
    max-width: 1400px; 
    margin-bottom: 50px;
}

.account-details h2{
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.account-details p{
    font-size: 23px;
}

.account-number {
    position: relative; /* Position relative for pseudo-element positioning */
}

.account-number::after {
    content: ''; 
    display: block; 
    height: 2px; 
    background-color: black; 
    margin-top: 3px; 
    width: 100%; 
    position: absolute;
    left: 0; 
}


/* Balance Summary Styling */
.balance-summary {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.balance-item {
    background-color: #d3d3d3;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

.balance-item p{
    font-size: 23px;
    margin-top: 20px;
}

.balance-item .amount {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.balance-item .amount .currency {
    color: black; 
    margin-right: 5px;
}

.balance-item .amount.positive .value {
    color: green; 
    font-size: 30px;
}

.balance-item .amount.negative .value {
    color: red; 
    font-size: 30px;
}

.balance-icon {
    width: 50px; 
    height: 50px; 
    margin: 0 auto; 
    margin-bottom: 10px; 
}

.balance-icon img {
    max-width: 100%; 
    max-height: 100%; 
    display: block;
}

.amount-positive {
    color: green;
}

.amount-negative {
    color: red;
}

.transaction-records{
    margin-top: 30px;
}

/* Recent Transactions Styling */
.transaction-records h3 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 40px;
}

/* Transaction records table styles */
#transaction-records-table {
    width: 90%; /* Make the table wider */
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 20px; /* Increase the overall font size */
}

#transaction-records-table th, #transaction-records-table td {
    border: 1px solid #ddd;
    padding: 20px; /* Increase padding for better spacing */
    text-align: center;
}

#transaction-records-table th {
    background-color: #8AB4F8;
    font-weight: bold;
    font-size: 22px; /* Larger font size for headers */
}

#transaction-records-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#transaction-records-table tr:hover {
    background-color: #d8d8d8;
}

#transaction-records-table tr.selected {
    background-color: #b3b3b3; /* Highlighted color */
}

/* Styling for transaction amount values */
.value-positive {
    color: green;
    font-size: 22px; /* Larger font size for amount values */
    font-weight: bold;
}

.value-negative {
    color: red;
    font-size: 22px; /* Larger font size for amount values */
    font-weight: bold;
}

/* Status-specific styling with colored boxes */
.transaction-status {
    display: inline-block;
    padding: 8px 15px; /* Larger padding for more prominent status boxes */
    font-size: 20px; /* Bigger font size for status */
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

/* Status-specific background colors */
.status-completed {
    background-color: green;
}

.status-pending {
    background-color: orange;
}

.status-failed {
    background-color: red;
}

.currency {
    color: black;
    font-size: 18px;
}

/* Style for the delete button container */
.button-container {
    text-align: center;
    margin-top: 20px; /* Space from the table above */
}

/* Delete button styling */
#delete-transaction-btn {
    background-color: red;
    color: white;
    font-size: 21px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

#delete-transaction-btn:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#delete-transaction-btn:hover:enabled {
    background-color: darkred;
}

/* Back Button Styling */
.back-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #ddd;
}

.header-right {
    display: flex;
    align-items: center; /* Aligns language switch and logout button vertically */
}

/* Language switch button styling */
.language-switch {
    margin-right: 20px; /* Space between language switch and logout button */
}

.language-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 22px; /* Increased font size */
    padding: 8px 15px; /* Adjusted padding */
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 6px; /* Slightly larger border radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-btn:hover {
    background-color: #d3d3d3;
}

/* Positioning the TTS toggle and status */
.tts-toggle-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between slider and status text */
    margin-left: 500px;
}

/* Slider container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

/* When the checkbox is checked, move the circle to the right */
input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Status text style */
#tts-status {
    font-size: 18px;
    color: #333;
}