/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background-color: #ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 200px; 
    margin-left: 70px;
    margin-top: 15px;
}

.header-right {
    display: flex;
    align-items: center; /* Aligns language switch and logout button vertically */
}

/* Language switch button styling */
.language-switch {
    margin-right: 20px; /* Space between language switch and logout button */
}

.language-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 22px; /* Increased font size */
    padding: 8px 15px; /* Adjusted padding */
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 6px; /* Slightly larger border radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-btn:hover {
    background-color: #d3d3d3;
}

/* Logout button styling */
header .logout button {
    display: flex;
    align-items: center; /* Aligns text and icon vertically */
    background-color: #ff0000; /* Logout button color */
    color: white;
    border: none;
    padding: 10px 15px; /* Adjusted padding for better size */
    cursor: pointer;
    font-size: 22px; /* Adjusted font size */
    border-radius: 10px;
    transition: background-color 0.3s; /* Added transition */
}

header .logout button:hover {
    background-color: #cc0000; /* Darker shade on hover */
}

header .logout button .login-icon {
    margin-left: 12px; 
    width: 30px; 
    height: 30px;
}

/* Positioning and styling for the keyboard shortcut note */
.keyboard-note {
    position: absolute; /* This will allow it to scroll with the page */
    top: 120px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 250px;
    text-align: left; /* Align text to the left */
    margin-top: 10px;
    margin-right: 5px;
}

.keyboard-note p{
    color:black;
    margin-bottom: 10px;
    font-size: 16px;
}

.keyboard-note ul {
    list-style-type: none;
    padding-left: 0;
    color: black;
}

.keyboard-note li {
    margin-bottom: 5px;
    color: black;
    align-content:left;
    font-size: 18px;
}

/* Centering container */
.container {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Welcome message styling */
.welcome {
    font-size: 27px;
    margin-bottom: 50px;
    margin-top: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 90px;
}

.welcome-message {
    text-align: center; 
    font-size: 30px; 
    margin-bottom: 20px; 
    font-weight: bold; 
}

/* Navigation bar styling */
.navbar {
    display: inline-flex;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    max-width: 1000px;
}

/* Navigation links styling */
.navbar a {
    color: black;
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column; /* Stack icon above text */
    align-items: center;
}

/* Icon image styling */
.navbar a img {
    width: 70px; /* Set icon width */
    height: 60px; /* Set icon height */
    margin-bottom: 15px; /* Space between icon and text */
}

/* Highlighted button styling */
.navbar a.active {
    background-color: #ddd;
    border-color: black;
    border-style: solid; /* Specify the border style */
    border-width: 2px; /* Specify the border width */
}

/* Hover effect */
.navbar a:hover {
    background-color: #ccc;
}

section {
    padding: 20px;
}

.account-selection {
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    width: 100%; /* Sets the section to take full width of the container */
    max-width: 1000px; /* Adjust this value as needed */
}

.account-selection h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.account-card {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically centered */
    background-color: #f2f2f2;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
}

.account-card:hover {
    background-color: #ddd;
}

.account-card h3 {
    margin: 0;
    font-size: 25px;
}

.account-card p {
    margin: 0;
}

.currency {
    font-size: 20px;
    vertical-align: auto;
    color: black;
}

.balance {
    color: green;
    font-weight: bold;
    font-size: 28px;
}

/* Back Button Styling */
.back-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #ddd;
}
